/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.full-header{
	position:relative;
	z-index:1000;
}
.below-hero{
	position:absolute;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
}
.globalHeader{
	border-bottom: 4px solid #000;
	background:#fff;
	
}
.description p{
	line-height:150%;
}
p.oneLiner{
	font-weight:bold;
	font-size: 16px;
}
.secondaryNav{
	background:#e3e3e3;
	border-bottom: 1px solid #000;
}
.secondaryNav h3{
	text-transform: uppercase;
	font-size: 12px;
	color:#999;
}
.secondaryNav ul{
	margin-left: 0;
}
.secondaryNav ul li{
	list-style:none;
}
.toggle{
	text-align: center;
	padding: 5px;
}
.togglebox{
	display:none;
	padding-bottom: 15px;
}
.hero{
	height: 800px;
	background:#f4f4f4;
}
.projects{
	height: 1400px;
}
.is-sticky{
	width: 100%;
	margin: 0 auto;
}
.divider{
	height: 20px;
	border-bottom: 1px solid #000;
	width: 100%;
	margin-bottom: 20px;
}
.projectMain{
margin-top: 100px;	
}

.author{
	margin-bottom: 60px;
}
.relatedProjects{
	border-bottom: 4px solid #000;
	border-top: 1px solid #000;
}
.projectTiles{
	height: 400px;
}

