/* ==========================================================================
   Reset
   ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==========================================================================
   Our Shit
   ========================================================================== */
   
.description p{
	line-height:150%;
}
p.oneLiner{
	font-weight:bold;
	font-size: 16px;
}

/* ------------- NAV ------------- */

.secondaryNav{
	background:#fff;
	border-bottom: 1px solid #000;
}
.secondaryNav h3{ /*for sub-headers like CAT and TAGS */
	text-transform: uppercase;
	font-size: 12px;
	line-height: 16px;
	color:#999;
	padding-bottom: 10px;
}
.secondaryNav ul{
	margin-left: 0;
}
ul.nav li{
	list-style:none;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
}

ul.nav li a {
	color: #333;
}

li.cat a {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #333;
}

li.tag a {
	font-size: 12px;
	line-height: 16px;
	color: #333;
}

/* ------------- HEADER ------------- */

.container.header {
	height: 170px;
}

.toggle{
	text-align: center;
	padding: 5px;
}
.togglebox{
	/*display:none;*/ //turned off the toggle box to style
	padding-bottom: 15px;
}

.full-header{
	position:relative;
	z-index:1000;
}
.below-hero{
	position:absolute;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
}
.globalHeader{
	border-bottom: 4px solid #000;
	background:#fff;
}

.page-name-col {
	width: 220px;
	height: 100px;
	padding-top: 15px;
	float: left;
	border: 1px solid red;
}

.category-col {
	width: 160px;
	height: 130px;
	border: 1px solid blue;
	float: left;
}

.tag-col {
	width: 100px;
	float: left;
	border: 1px solid green;
}

.project-picker-btn {
	width: 140px;
	height: 50px;
	margin-left: 60px;
	float: left;
}

/* ------------- HOME PAGE HERO ------------- */
.hero{
	height: 800px;
	background:#f4f4f4;
}
.projects{
	height: 1400px;
}
.is-sticky{
	width: 100%;
	margin: 0 auto;
}
.divider{
	height: 20px;
	border-bottom: 1px solid #000;
	width: 100%;
	margin-bottom: 20px;
}
.projectMain{
margin-top: 100px;	
}

.author{
	margin-bottom: 60px;
}
.relatedProjects{
	border-bottom: 4px solid #000;
	border-top: 1px solid #000;
}
.projectTiles{
	height: 400px;
}


/* ------------- PROJECT LANDING PAGE: PROJECT BOX/THUMBNAIL ------------- */

.projectTiles {
	width: 196px;
	border:1px solid black;
}

ul.projects li {
	list-style-type: none;
	float: left;
	margin: 0 20px 23px 0;
	padding: 10px;
}

ul.projects li img{
	width:200px;
	height: 160px;
}

ul.projects li.last-child {
	margin-right:0;
}

.projects {
	max-width:950px;
}

.projectText{
	padding-left:5px;
}

.shadow {
	-moz-box-shadow: -6px 6px #c6c6c6;
	-webkit-box-shadow: -6px -6px #c6c6c6;
	box-shadow: -6px 6px #c6c6c6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}


/* ------------- FEI ADDED STYLING FOR FOOTER ------------- */

.footer {
	background: #1f1f1f;
}

